@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Cabinet-Grotesk';
        src: url('src/assets/fonts/CabinetGrotesk-Medium.woff2'), format('woff2')
    }

    @font-face {
        font-family: 'Fraunces';
        src: url('src/assets/fonts/Fraunces_72pt-Italic.ttf'), format('truetype')
    }
}
